﻿@model WebApplication.Models.IndexViewModel
@{
    ViewBag.Title = "Spravovat";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Změňte nastavení účtu.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Heslo:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Změnit heslo", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Vytvořit", "SetPassword")
            }
            ]
        </dd>
        <dt>Externí přihlášení:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Spravovat", "ManageLogins") ]
        </dd>
        @*
            Telefonní číslo je možné použít jako druhou úroveň při dvojúrovňovém ověřování.
             
             V <a href="https://go.microsoft.com/fwlink/?LinkId=403804">tomto článku</a>
                        najdete podrobnosti o nastavení podpory dvojúrovňového ověřování pomocí SMS v této aplikaci ASP.NET.
             
             Po nastavení dvojúrovňového ověřování odkomentujte následující blok.
        *@
        @*  
            <dt>Telefonní číslo:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Odebrat" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                }
            </dd>
        *@
        <dt>Dvoufaktorové ověřování:</dt>
        <dd>
            <p>
                Nejsou nakonfigurovaní žádní poskytovatelé dvojúrovňového ověřování. Podrobnosti o nastavení podpory dvojúrovňového ověřování v této aplikaci ASP.NET
                najdete v <a href="https://go.microsoft.com/fwlink/?LinkId=403804">tomto článku</a>.
            </p>
            @*@if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Povoleno
                        <input type="submit" value="Zakázat" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Zakázáno
                        <input type="submit" value="Povolit" class="btn btn-link" />
                        </text>
                    }
                }*@
        </dd>
    </dl>
</div>
