﻿@model WebApplication.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Použijte k přihlášení jinou službu.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                Nejsou nakonfigurované žádné externí ověřovací služby. Podrobné informace o nastavení podpory přihlašování přes externí služby v této aplikaci ASP.NET
                najdete v <a href="https://go.microsoft.com/fwlink/?LinkId=403804">tomto článku</a>.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Přihlásit pomocí vašeho účtu @p.Caption">@p.AuthenticationType</button>
                    }
                </p>
            </div>
        }
    }
}
